name: SonarQube Analysis 

on:
    push:
      branches: [ main ]
    pull_request:
      branches:
         - main
jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Checkout Sonar Action
              uses: actions/checkout@v2
              with:
                repository: jeeva-aa/CCI_ApigeeInterface
                ref: main
                token: "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"
                path: ./.github/actions/sonarscan
            - name: sonarscan
              id: sonarscan
              env:
                GITHUB_TOKEN: "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" # GitHub automatically creates a GITHUB_TOKEN secret to use in your workflow
                #DEPLOYMENT_ID: "put your deployment id here, default is deployment_${reponame}"
              uses: ./.github/actions/sonarscan
              with:
                projectKey: com.aa.crewcheckin.apigee:CCI_ApigeeInterface
                projectName: com.aa.crewcheckin.apigee:CCI_ApigeeInterface
                sonarqube_token: "bd97ec25edc5710330132efb9d28ff50ac86dc6e"
                host: https://sonarqube.aa.com
                sources: src
